* {
    font-family: 'Montserrat', serif;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-right {
    border-right: 1px;
}

body, html {
    height: 100%;
}

.bg-left {
    background: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)), url("../../pictures/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-right {
    background-color: rgb(241, 241, 241);
}

.profile-pic {
    height: 8rem;
    width: 8rem;
    margin-bottom: 1rem;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
}

.info-box {
    padding-right: 1rem;
}

.speical-a {
    text-decoration: none !important;
}

.speical-a:hover {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.main-body {
    margin-top: 5rem;
    margin-left: 1rem;
}

.popup {
    width: 24rem;
    height: 16rem;
    background-color: rgb(240, 240, 240);
}

.card-bg {
    border-radius: 0 !important;
    margin: 1rem;
}

.btn-outline-secondary {
    color: rgb(80, 80, 80) !important;
}

.btn-outline-secondary:hover {
    color: rgb(245, 245, 245) !important;
}

.education-text {
    color: rgb(185, 185, 185);
    font-size: 0.95rem;
}
